#!/bin/bash

sudo mkdir -p /etc/firefox/policies/
sudo cp {{ joinPath .chezmoi.sourceDir "firefox-policies.json" | quote }} /etc/firefox/policies/policies.json

# remove old profiles
rm -rf ~/.mozilla/firefox/